@media (max-width: 991px) {
    .bioRow {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .bioRow .contentWrapper {
        padding-left: 0;
    }

}

@media (max-width: 768px) {
    .bioRow {
        width: 90%;
    }

    .bioRow .contentWrapper h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .bioRow .contentWrapper p {
        line-height: 24px;

    }
}

@media (max-width:575px) {
    .bioRow .contentWrapper span.textWrapper {
        font-size: 18px;
    }

    .bioRow .contentWrapper h2 {
        font-size: 25px;
        padding-bottom: 22px;
    }

    .bioRow .contentWrapper p {
        line-height: 24px;

    }
}